<!DOCTYPE html >
<html id="_S_" lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ S.primary_css}}" />
        {% if C.right_to_left > 0 %}
        <link rel="stylesheet" type="text/css" href="{{ S.theme_url }}/css/rtl.css" />
        {% endif %}

        {% if M.jQueryFromGoogleCDN is not empty %}
        <script type="text/javascript" src="{{ C.is_https ? 'https://' : 'http://' }}ajax.googleapis.com/ajax/libs/jquery/{{ C.jquery_version }}/jquery.min.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ S.default_theme_url }}/scripts/min/jquery.js?v=162"></script>
        {% endif %}

        <script type="text/javascript" src="{{ S.default_theme_url }}/scripts/script.js{{ C.jsver }}"></script>
        {% if C.theme_scripts is not empty %}
            {% for script in C.theme_scripts %}
            {% if script.footer is empty %}
                <script type="text/javascript" src="',($script['default'] ? $settings['default_theme_url'] : $settings['theme_url']) . '/' . $script['name'] . $context['jsver'], '"></script>
            {% endif %}
            {% endfor %}
        {% endif %}
        <script type="text/javascript">
        // <![CDATA[
            var smf_theme_url = '{{ S.theme_url }}';
            var smf_default_theme_url = '{{ S.default_theme_url }}';
            var smf_images_url = '{{ S.images_url }}';
            var smf_scripturl = '{{ SCRIPTURL }}';
            var smf_iso_case_folding = {{ C.server.iso_case_folding ? "true" : "false" }};
            var smf_charset = 'UTF-8';
            var sSessionId = '{{ C.session_id }}';
            var sSessionVar = '{{ C.session_var }}';
            var disableDynamicTime = {{ O.disable_dynatime is not empty ? 0 : 1}};
            var textSizeUnit = 'pt';
            var textSizeStep = 1;
            var textSizeMax = 16;
            var textSizeMin = 8;
            var textSizeDefault = 10;
            var sideBarWidth = 250;
            var sidebar_content_loaded = 0;
            var cookie = readCookie('SMF_textsize');
            var fb_appid = '{{ M.fb_appid }}';
            var ssp_imgpath = '{{ S.images_url }}/share';
            var textsize = cookie ? parseInt(cookie) : textSizeDefault;
            var anchor = document.getElementsByTagName('SCRIPT')[0];
            var t2 = document.createElement('SCRIPT');
            var _cname = '{{ COOKIENAME }}';
            var _mqcname = '{{ C.multiquote_cookiename }}';
            var guest_time_offset = 0;
            t2.type = "text/javascript";
            t2.async = true;
            t2.src = '{{ S.default_theme_url }}/scripts/footer.js{{ C.jsver }}';
            anchor.parentNode.insertBefore(t2, anchor);
        // ]]>
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{{ C.page_description_html_safe }}" />
        {% if C.meta_keywords is not empty %}
        <meta name="keywords" content="{{ C.meta_keywords }}" />
        {% endif %}
        <title>{{ C.page_title_html_safe }}</title>


    </head>

    <body>
        {% block content %}
        {% endblock %}

        {% if U.is_admin %}
        I am admin
        {% endif %}
    </body>
</html>
