{# If linktree is empty, just return - also allow an override. #}

{# if (empty($context['linktree']) || (!empty($context['dont_default_linktree']) && !$force_show))
	return; #}

{% if C.ltree_done is not empty %}
	{# $ltree = str_ireplace('linktree_upper', 'linktree_lower', $ltree); #}
	{{ C.ltree_done }}
{% else %}

{% set ltree_done = '<div class="navigate_section gradient_darken_down"><ul class="linktree tinytext" id="linktree_upper">' %}

{# Each tree item has a URL and name. Some may have extra_before and extra_after. #}
{% set item_count = C.linktree|length %}
{% for tree_item in C.linktree %}
	{% if loop.index0 == item_count - 1 %}
		{% set ltree_done = ltree_done ~ '<li class="last">' %}
	{% else %}
		{% set ltree_done = ltree_done ~ '<li>' %}
	{% endif %}		
	{# Show something before the link? #}
	{% if tree_item.extra_before is defined %}
		{% set ltree_done = ltree_done ~ tree_item.extra_before %}
	{% endif %}
	{# Show the link, including a URL if it should have one. #}
	{% if tree_item.url is defined %}
		{% set ltree_done = ltree_done ~ '<a itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb" href="' ~ tree_item.url ~ '"><span>' ~ tree_item.name ~ '</span></a>' %}
	{% else %}
		{% set ltree_done = ltree_done ~ '<span>' ~ tree_item.name ~ '</span>' %}
	{% endif %}

	{# Show something after the link...? #}
	{% if tree_item.extra_after is defined %}
		{% set ltree_done = ltree_done ~ tree_item.extra_after %}
	{% endif %}
	{# Don't show a separator for the last one. #}
	{% if loop.index0 != item_count - 1 %}
		{% set ltree_done = ltree_done ~ ' &rarr;' %}
	{% endif %}
	{% set ltree_done = ltree_done ~ '</li>' %}
{% endfor %}
{% set ltree_done = ltree_done ~ '</ul></div>' %}

{{ ltree_done }}
{% set C = C|merge({'ltree_done': ltree_done}) %}
{# $shown_linktree = true; #}
{% endif %}