/.name
/ant.xml
/codeStyleSettings.xml
/compiler.xml
/dataSources.ids
/dataSources.xml
/encodings.xml
/misc.xml
/modules.xml
/projectCodeStyle.xml
/smf.iml
/uiDesigner.xml
/vcs.xml
/workspace.xml
/scopes
/dictionaries


